
@font-face {
  font-family: msc-icons;      
  src: url('../fonts/msc-icons-400-normal.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "MSC Pangea TF";      
  src: url('../fonts/msc-pangea-tf-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "MSC Pangea TF";      
  src: url('../fonts/msc-pangea-tf-600-normal.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
